.header__items {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 3px solid black;
}

.header__image {
    height: 50px;
    cursor: pointer;
    border: 2px solid black;
    margin-left: 1050px;
}

.btn__cloud {
    /* background-color: aqua; */
    margin-left: 30px;

    height: 50px;
    cursor: pointer;
    border: 2px solid black;
}

.btn__cloud:hover,
.btn__main__show__localDB:hover {
    background-color: aqua;
}

/* .btn__exit {
    margin-left: 0px;
    height: 2px;
    cursor: pointer;
} */

.btn__local__db {
    height: 50px;
    width: 50px;
    background-color: aqua;
    margin-left: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.btn__main__show__localDB {
    margin-left: 30px;
    height: 50px;
    cursor: pointer;
    border: 2px solid black;
}

.main-images-localDB {
    display: flex;
    flex-wrap: wrap;
}

/* ------------------------------------------------------------------------------------------------------- */



.product-item {
    /* display: flex; */
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}

/* .product-item:hover {
    border-bottom: 2px solid #fc5a5a;
} */

.product-item img {
    display: block;
    width: 100%;
    /* margin-bottom: 10px; */
}

.product-list {
    background: #dbc4c4;
    padding: 15px 0;
}

.product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
}

.price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
    border: 1px solid #fc5a5a;
    cursor: pointer;
}

.product-item:hover .button {
    background: #fc5a5a;
}