.header__items {
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 3px solid black;
}

.header__image {
    height: 42px;
    cursor: pointer;
}

.btn__cloud {
    margin-left: 30px;
}

.btn__exit {
    margin-left: 1200px;
}